<div class="jumbotron text-center">
  <h1>Welcome to Burnonce.com</h1>
  <h3>We are in beta <3</h3>
  <p>Tired of getting spam in your inbox?  Looking for a secure email address that is anonymous and disposable?</p>
  <%= link_to "SignUp", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
