<div class="jumbotron text-center">
  <h1>Welcome to Burnonce.com</h1>
  <h4>We are in beta <3</h4>
  <p>Tired of getting spam in your inbox?  Looking for a secure email address that is anonymous and disposable?</p>
  <p>Join <%= User.count + 1023 %> happy users today!</p>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %> <%= link_to "Login", new_user_session_path, class: 'btn btn-success btn-lg' %>
</div>
