<h3>Privacy Policy</h3>
<h5>What information does burnonce.com collect?</h5>
<ul>
  <li>User's valid email address</li>
</ul>
<h5>How does burnonce.com use this information?</h5>
<ul>
  <li>Data analtytics</li>
  <li>Disclosure of data in the event of a court ordered or law enforcement subpoena for information</li>
  <li>We do not use your information for any marketing purposes</li>
  <li>burnonce.com will never sell or disclose your information to any 3rd party, ever!</li>
</ul>
