<div class="row">
 <div class="form-inline pull-right">
  <div class="form-group">

	<%= form_tag emails_path, :method => 'get', remote: true, :id => "email_search" do %>
    <div class="input-group">
			<%= text_field_tag :search,  params[:search], :placeholder => 'From, Subject, Body', :class => 'input-sm' %>
    </div>
	<% end %>
  </div>
</div>
</div>
	</br>
