<div id="search">
  <%= render "search" %>
</div>
<div id="emails">
  <%= render "emails" %>
</div>

<script>
  $(function() {
    setInterval(function(){
      $.getScript("/emails")
    }, 10000);
  });
</script>
